.login-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #1de9b6;
    line-height: 1.15;
    font-size: 16px;
    margin-right: 1%;


}

.netflix-container {
    grid-row: 1;
    text-align: center;
}


.login-button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

.name-map-image {
    height: 300px;
}

.name-map-items {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.name-map-names {
    margin: 0 2% 0 2%
}

.delete-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: rgb(184, 22, 22);
    line-height: 1.15;
    font-size: 16px;
}

.delete-button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgb(184, 22, 22);
}

.map-item-img {
    height: 5em;
}