.TaskContainer {
  display: center;
  margin-top: 15vh;
  margin-left: 30vw;
  width: 40vw;
  border: 2px solid var(--user-blue);
  border-radius: 5px;
  align-content: center;
  align-self: center;
  font-family: var(--font-body);
}
