.TaskContainer {
  display: center;
  margin-top: 30vh;
  margin-left: 37vw;
  height: 500px;
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  align-content: center;
  align-self: center;
  background-color: rgb(237, 228, 213);
  font-family: var(--font-body);
}
