.TaskContainer {
  display: center;
  margin-top: 8vh;
  margin-left: 30vw;
  width: 40vw;
  border: 2px solid var(--user-blue);
  border-radius: 5px;
  align-content: center;
  align-self: center;
  font-family: var(--font-body);
}

.addtask-container {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px 17px;
  color: #fff;
  background-color: var(--user-blue);
  margin-bottom: 1vh;
}

.addtask-container:hover {
  transform: scale(1.04);
  background-color: rgb(107, 107, 228);
}

.add-task {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
}

select {
  font: inherit;
}

option {
  height: 30px;
}
