.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  top: 0;
  width: 100vw;
  /* position: fixed; */
  justify-content: space-around;
  height: 3vw;
  align-content: center;
  color: #1b3358;
  background-image: linear-gradient(var(--user-blue), white);
  font-family: var(--font-brand);
}

.signIn {
    font-family: var(--font-body);
    align-self: center;
}