.ActiveTaskCard {
  height: 40px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.ActiveTaskCardInner {
  display: flex;
  align-items: center;
  height: 100%;
  width: 95%;
  margin-left: 3vw;
  margin-right: 3vw;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
}

.complete-button-task {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  border: 0;
  height: 4vh;
  width: 10vw;
  margin-right: 1vw;
  color: #000021;
  background: #1de9b6;
  font-size: 16px;
}

.complete-button-task:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

.recycle-button-task {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  border: 0;
  height: 4vh;
  width: 10vw;
  color: #000021;
  background: #1de9b6;
  font-size: 16px;
}

.recycle-button-task:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}